<div class="container">
    <div class="content">
        <nz-table
        #editRowTable
        [nzData]="cart$ | async"
        nzShowPagination="false"
      >
        <thead>
          <tr>
            <th nzWidth="50%">Sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Xoá</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable.data" class="editable-row">
            <td>
              <div>
                <img src="{{ data.image[0] }}" alt="img" width="20%" />
                <div>{{ data.name }}</div>
              </div>
            </td>
            <td>{{ data.price | currency }}</td>
            <td>
              <div
                class="editable-cell"
                [hidden]="editId === data._id"
                (click)="startEdit(data._id)"
              >
                {{ data.count }}
              </div>
              <input
                [hidden]="editId !== data._id"
                type="number"
                style="width: 30%"
                nz-input
                [(ngModel)]="data.count"
                (blur)="stopEdit(data)"
              />
            </td>
            <td>{{ data.price * data.count | currency }}</td>
            <td>
              <a
                nz-popconfirm
                nzPopconfirmTitle="Sure to delete?"
                (nzOnConfirm)="deleteRow(data)"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="total-cost">
        <div class="voucher">
          <input nz-input placeholder="Mã Voucher" />
          <button>Áp dụng</button>
        </div>
        <div class="cost">
          <p><span>Tổng tiền: </span>{{ totalCost$ | async | currency }}</p>
          <em>Đơn hàng trên 500k được Free ship toàn quốc</em>
        </div>
      </div>
    </div>
  
</div>
