<div class="carousel">
  <div class="content">
    <nz-carousel [nzEffect]="effect" [nzDotRender]="dots" nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of array" style="background: url({{index}}); background-size: cover; background-position: center;">
        <!-- <h3>{{ index }}</h3> -->
      </div>
      <ng-template #dots>
        <button
          style="
            display: block;
            height: 3px;
            background: black;
            outline: none;
          "
        ></button>
      </ng-template>
    </nz-carousel>
  </div>
</div>
<div class="contact-us">
  <div>Contact Us</div>
  <marquee> Welcome to Van Tech Company Administator Web </marquee>
</div>
<div class="laptop" *ngFor="let cate of categories">
  <div class="title">
    <h2>{{ cate.name | uppercase }}</h2>
    <a routerLink="/client/products" [queryParams]="{ id_category: cate._id }"
      >See All ></a
    >
  </div>
  <owl-carousel-o [options]="customOptions" class="owl-carousel-home">
    <ng-container *ngFor="let slide of cate.randomProduct">
      <ng-template class="slide" carouselSlide [id]="slide.id">
        <div style="padding: 30px; height: 60%">
          <img
            [src]="slide.image[0]"
            [alt]="slide.name"
            [title]="slide.name"
            width="100%"
            routerLink="/client/product"
            [queryParams]="{ id: slide._id }"
          />
        </div>
        <div style="padding: 10px; height: 30%">
          <div style="height: 90%">
            <a
              style="word-wrap: break-word"
              routerLink="/client/product"
              [queryParams]="{ id: slide._id }"
              >{{ slide.name }}</a
            >
          </div>
          <div style="height: 10%">
            <p>{{ slide.price | currency }}</p>
          </div>
        </div>
        <div
          class="cart-icon"
          style="height: 10%; padding: 0 10px; text-align: right"
        >
          <i
            nz-icon
            nzType="shopping-cart"
            nzTheme="outline"
            style="font-size: 18px; color: rgba(0, 0, 0, 0.6); cursor: pointer"
            (click)="addToCart(slide)"
          ></i>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
