<div class="container">
  <div class="box">
    <div class="left">
      <img
        src="../../../assets/logo2.png"
        alt="logo"
        width="240px"
        height="240px"
      />
    </div>
    <div class="right">
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
        style="width: 80%"
      >
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Username!">
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Username"
              style="width: 100%; height: 50px; border-radius: 25px; padding: 0 25px;"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
              style="width: 100%; height: 50px; border-radius: 25px; padding: 0 25px;"
            />
          </nz-form-control>
        </nz-form-item>

        <button
          nz-button
          class="login-form-button login-form-margin"
          [nzType]="'primary'"
          [nzLoading]="loading"
          style="width: 100%; height: 45px; border-radius: 22.5px"
        >
          {{ loading ? "Logging in ..." : "Log in" }}
        </button>
      </form>
    </div>
  </div>
</div>
