<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="../../../assets/logo2.png" alt="logo" />
        <h1>Van Tech Company</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        nz-menu-item
        nzMatchRouter
        routerLink="/welcome"
        style="outline: none"
      >
        <i nz-icon nzType="dashboard"></i>
        <span>Welcome</span>
      </li>
      <li nz-submenu nzTitle="Categories" nzIcon="laptop">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let category of categories">
            <a
              [routerLink]="['/products']"
              [queryParams]="{ id_category: category._id }"
              >{{ category.name }}</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div
        class="app-header"
        style="display: flex; justify-content: space-between"
      >
        <div>
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </span>
        </div>
        <div style="margin-right: 24px">
          <span style="margin-right: 10px">{{ user?.name }}</span>
          <nz-avatar
            nzIcon="user"
            nz-dropdown
            [nzDropdownMenu]="menu"
            nzPlacement="bottomRight"
            style="background-color: rgb(0, 21, 41)"
          >
          </nz-avatar>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item style="color: crimson;" (click)="logOut()">
      <i nz-icon nzType="logout" nzTheme="outline"></i>Log out
    </li>
  </ul>
</nz-dropdown-menu>
